html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}

/*~~~~~~ MENU ~~~~~~*/

.menu {
  background-color: #FFFFFF;
  position: fixed;
  height: 4em;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #000000;
}
.menu-title {
  float: left;
  line-height: 2.5em;
}
.menu ul {
  list-style: none;
}
.menu-items li, .menu-title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.5em;
}
.menu-items li {
  float: right;
  padding-right: 2.5%
}
a {
  text-decoration: none;
  color: #000000;
}
.menu-items li:hover {
  cursor: pointer;
  font-style: italic;
}
.bars {
  display: none;
}
.menu-select {
  font-style: italic;
}
.fa-coffee {
  padding-right: 10px;
}
.bar-menu {
  display: none;
}

/*~~~~~~ MASTHEAD ~~~~~~*/
.title {
  padding-top: 1em;
  margin-bottom: 0;
}
.slogan, .title {
  background: rgba(000,0,0,0.5);
  text-align: center;
}
.masthead {
  background-image: url('../images/coffee.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -4em;
  height: 52em;
}
.slogan {
    display: none;
}

/*~~~~~~ ABOUT ~~~~~~*/

.about {
  color: #FFFFFF;
  background-image: url('../images/about.png');
  filter: grayscale(100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.family {
  border-radius: 100%;
  background-image: url('../images/family.png');
  height: 16em;
  width: 16em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -25px;
  border: 2px solid #FFFFFF;
}

/*~~~~~~ WORK/SKILLS ~~~~~~*/
#live-vinyl, #iss-spotter, #shelter-dog, #tv-ratings {
    margin-bottom: 2em;
}
.vinyl, .iss, .dog, .tv {
  height: 10em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.vinyl {
  background-image: url('../images/vinyl.png');
}
.iss {
  background-image: url('../images/iss.png');
}
.dog {
  background-image: url('../images/dog.png');
}
.tv {
  background-image: url('../images/tv.png');
}
.project:hover {
  color: #939393;
  cursor: pointer;
  font-style: italic;
}

/*~~~~~~ TESTIMONIALS ~~~~~~*/

.testimonial {
  color: #FFFFFF;
  background-image: url('../images/testimonial.png');
  filter: grayscale(100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-para a {
  color: #FFFFFF;
}
.yoga:hover {
  color: #939393;
  cursor: pointer;
  font-style: italic;
}

/*~~~~~~ ARROW ~~~~~~*/

.fa-chevron-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #939393;
}
.fa-chevron-up:hover {
  transform: scale(2);
  transition-duration:1s;
}

/*~~~~~~ CONTACT ~~~~~~*/

.contact-para {
  margin-bottom: 0;
}
#contact-icons {
  text-align: center;
}
.fa-phone, .fa-envelope {
  margin: 1em 0;
  color: #000000;
}
.fa-phone:hover, .fa-envelope:hover {
  transform: rotate(360deg);
  transition-duration:1s;
  color: #939393;
}

/*~~~~~~ MEDIA QUERIES ~~~~~~*/

@media only screen and (max-width: 830px) {
  .masthead {
    background-position-y: 0;
  }
}
@media only screen and (max-width: 768px) {
  .masthead, .about, .work, .skills, .testimonial, .contact {
    height: auto;
  }
  .menu-items {
      display: none;
  }
  .bar-menu {
    background-color: #000000;
    margin-top: 4em;
  }
  .bar-menu li {
    border-top: 2px solid #939393;
    border-left: 2px solid #939393;
    border-right: 2px solid #939393;
    color: #FFFFFF;
    height: 2em;
    width: 10em;
    text-align: center;
    margin-bottom: 0;
  }
  .contact-menu {
    border-bottom: 2px solid #939393;
  }
  .bar-menu li:hover {
    cursor: pointer;
    font-style: italic;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
  }
  .fa-bars, .fa-times-circle-o {
    float: right;
  }
  .bars {
    display: block;
    float: right;
    line-height: 2em;
  }
}
@media only screen and (max-width: 550px) {
  .family {
    margin: auto;
    margin-bottom: 25px;
  }
  .skills-para {
    margin-bottom: 0;
  }
}
